<!DOCTYPE html>
<head>
<meta charset="utf-8"/>
<title>Ticker {{t}}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

<script src="http://ec2-54-198-139-239.compute-1.amazonaws.com/socket.io/socket.io.js"></script>

// <script>
	var socketio = io.connect('http://ec2-54-198-139-239.compute-1.amazonaws.com:8330/');
	
	socketio.emit("quote", {{t}});

    socketio.on("bid",function(data) {
         //Append an HR thematic break and the escaped HTML of the new message
         var price = data.toFixed(2);
         document.getElementById("bidprice").value(price);
         // document.getElementById("chatlog").appendChild(document.createTextNode(data['message']));
    });


</script>

%include head

</head>
<body><div id="main">
 
<h1>Ticker {{t}}</h1>

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
 	<output name="bidprice" id="bidprice" value="Loading"></output>
</form>

<a href="/">Return Home</a>


 
</div></body>
</html>